<html>
    <head><title>Ranking</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h2>Dashboard</h2>
        <table class="table table-hover">
            <tr>
                <th>Nome</th>
                <th>Exercício</th>
                <th>Pontos</th>
            </tr>
            {% for item in lista %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </body>
</html>