<html>
    <head><title>Learderboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h2>Learderboard</h2>
        <table class="table table-hover">
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>Pontos</th>
            </tr>
            {% for index, item in lista.items() %}
            <tr>
                <td>{{item[index]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </body>
</html>