<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ling Prog - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container col-5">
        <h2>Avaliação Ling. Programação</h2>
        {% if message %}
        <div class="alert alert-warning">{{message}}</div>
        {% endif %}
        <form method=POST>
            <div class="form-group">
                <label>Número da Matrícula</label>
                <input type=text name=matricula required=true class="form-control"/>
            </div>
            <br/>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>