<html>

<head>
    <title>Sucesso!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
    
<body>

    <div class="container">

        <h3>Parabéns {{nome}}!</h3>

        {% for i in range(5) %}
        <br/>
        <h4>Teste {{i+1}}</h4>

        
        {% if i < 3 %}
        Expected 
        <pre style="background-color:seashell; padding: 20px;">{{expecteds[i]}}</pre>
            
        Output: 
        <pre style="background-color: rgb(223, 243, 224); padding: 20px;">{{outputs[i]}}</pre>
        {% else %}
        <pre style="background-color: rgb(223, 243, 224); padding: 20px; font-style: italic;">Resposta correta, mas oculta para o aluno.</pre>
        {% endif %}
        {% endfor %}               


        <a href='/submit' class="btn btn-primary">Voltar</a>
        <br/>

    </div>

</body>
    
</html>