<html>

<head>
    <title>Falha!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
    
<body>

    <div class="container">
    <h3>Não desanime {{nome}}!</h3>

    <br/>Expected 
    <pre style="background-color:seashell; padding: 20px;">{{expected}}</pre>
        
    <br/>Output: 
    <pre style="background-color: rgb(247, 201, 201); padding: 20px;">Timeout (demorou mais de 5 segundos)</pre>       


    <a href='/submit' class="btn btn-primary">Voltar</a>
</div>

</body>
    
</html>