<!doctype html>
<HTML>

<HEAD>
    <title>Envio do exercício</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</HEAD>

<BODY>
    <div class=container>
        <h2>Submissão do exercício</h2>
    <form action='/submit' method=post enctype=multipart/form-data>
        <div class="row">
        <div class="form-group col-6">
            <label>Número da matrícula</label>
            <input type=input class=form-control required=true value={{matricula}} readonly>
        </div>
        
        <div class="form-group col-6">
            <label>Nome do aluno</label>
            <input type=input class=form-control required=true value="{{nome}}" readonly>
        </div>
    </div>
        <div class="form-group">
            <label>Número do Exercício</label>
            <select class='form-control' name=exercicio required=true>
                <option value='1'>Exercício 1</option>
                <option value='2'>Exercício 2</option>
                <option value='3'>Exercício 3</option>
                <option value='4'>Exercício 4</option>
                <!-- <option value='5'>Exercício 5</option> -->
            </select>
        </div>
        
        <div class="form-group">
            <label>Arquivo Python (.py)</label>
            <input type=file name=file class=form-control required=true>
        </div>
        <br/>
        <input type=submit class='btn btn-primary' value=Upload>

        <br/><br/>
        <h4>Links dos Exercícios no Google Colab</h4>
        <table class="table table-hover">
            <!-- <tr>
                <th>Exercício</th>
            </tr> -->
            <tr>
                <td><a href="https://colab.research.google.com/drive/1Wqgd-qzxEZUpPzOzVknhX2w3OaGLepOJ?usp=sharing" target="_blank">Exercício 01</a></td>
                <td><a href="https://colab.research.google.com/drive/1wpUIYroptO-laSfVNBkjjHKkO494aOyQ?usp=sharing" target="_blank">Exercício 02</a></td>
                <td><a href="https://colab.research.google.com/drive/1v7pfwvL5jzYK0kqbMwWw-OQUBwTEB0OE?usp=sharing" target="_blank">Exercício 03</a></td>
                <td><a href="https://colab.research.google.com/drive/1jMmY6ThC4QNHjkTBC4FAZ9D8V28gNFg7?usp=sharing" target="_blank">Exercício 04</a></td>
            </tr>
        </table>

        <br/><br/>
        <h4>Histórico</h4>
        <table class="table table-hover">
            <tr>
                <th>Exercício</th>
                <th>Pontos</th>
            </tr>
            {% for item in lista %}
            <tr>
                <td>{{item[4]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}

            <tr>
                <td style='text-align: right; font-weight: bold'>TOTAL</td>
                <td>{{total}}</td>
            </tr>
        </table>

        <a href='/logout' class='btn btn-danger'>Sair</a>

    </form>
</div>
</BODY>

</HTML>